configuration {
  terminal: "kitty";
  ssh-command: "{terminal} -e {ssh-client} {host}";
  run-command: "{cmd}";
  run-shell-command: "{terminal} -e {cmd}";

  kb-secondary-copy: "";
  kb-clear-line: "Control+c";
  kb-remove-word-back: "Control+w";

  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}

@theme "theme"
