*.swp
*.un~
*.pyc
*.netrwhist

log
logs

config/fish/fish_history
config/fish/fish_variables
config/fish/fishd.*
config/fish/conf.d/local.fish
config/fish/fundle
config/fish/local.fish

config/mpv/watch_later

nvim/plugged/*
nvim/autoload/plug.vim
nvim/doc
nvim/spell
nvim/spell/*

vifm/vifm-help.txt
vifm/vifminfo*
vifm/scripts/README

newsboat/cache.db
newsboat/history.cmdline
newsboat/urls

apps/ignore
