*.swp
*.un~
*.pyc
*.netrwhist

log
logs

config/fish/fish_history
config/fish/fishd.*
config/fish/conf.d/local.fish

nvim/plugged/*
nvim/autoload/plug.vim
nvim/doc
nvim/spell
nvim/spell/*

vifm/vifm-help.txt
vifm/vifminfo
vifm/scripts/README

config/fish/fundle

config/ranger/tagged

config/qutebrowser/bookmarks/*
config/qutebrowser/quickmarks
config/qutebrowser/qsettings
