global !p
from ultisnips_helpers import *
endglobal

snippet d "def"
def ${1:name} do
	${0:${VISUAL}}
end
endsnippet

snippet dp "defp"
defp ${1:name} do
	${0:${VISUAL}}
end
endsnippet

snippet mod "module"
defmodule ${1:`!p snip.rv = camelize(snip.basename)`} do
	${0:${VISUAL}}
end
endsnippet

snippet - "function"
fn($1) -> $2 end
endsnippet
