snippet -- "Line comment"
-- [[ ${1} ]] ----------------------------------------------------------------------
endsnippet

snippet == "Thick line comment"
-- [[ ${1} ]] ======================================================================
endsnippet

snippet todo "TODO"
-- TODO: $1
endsnippet
