# -- Embedded latex --------------------
snippet $ "inline math"
$$1$
endsnippet

snippet $$ "block math"
$$
$1
$$
endsnippet

snippet ^
^{$1}
endsnippet

snippet _
_{$1}
endsnippet
# -- // Embedded latex // --------------

snippet email "comment"
Hi everyone,
${1}

${2:### Technical
}
**Have a good day!**
endsnippet

snippet ` "fence"
\`\`\` ${1:lang}
$1
\`\`\`
endsnippet

snippet doc ""

params:

\`\`\` json
\`\`\`$0

response:

\`\`\` json
\`\`\`
endsnippet
