snippet ` "fence"
\`\`\` ${1:lang}
${2:${VISUAL}}
\`\`\`
endsnippet

snippet doc ""

params:

\`\`\` json
\`\`\`$0

response:

\`\`\` json
\`\`\`
endsnippet

snippet ! "image"
![$1]($2)
endsnippet

snippet [ "link"
[$1](${2:${VISUAL}})
endsnippet

snippet b "bold"
**${1:${VISUAL}}**
endsnippet

snippet i "italic"
_${1:${VISUAL}}_
endsnippet
