snippet email "comment"
Hi everyone,
${1}

${2:### Technical
}
**Have a good day!**
endsnippet

snippet ` "fence"
\`\`\` ${1:lang}
$0
\`\`\`
endsnippet

snippet doc ""

params:

\`\`\` json
\`\`\`$0

response:

\`\`\` json
\`\`\`
endsnippet
