snippet warn "warn"
console.warn($1)
endsnippet

snippet log "log"
console.log($1)
endsnippet

snippet vue "template"
<template>
</template>

<script>
import Vue from "vue"
export default Vue.component("$1", {
	props: {
	},
})
</script>

<style scoped>
</style>
endsnippet
