snippet -- "thin line"
# -- [[ $1 ]] ------------------------------------------------------------------
endsnippet

snippet == "thick line"
# == [[ $1 ]] ==================================================================
endsnippet
