return {
  foreground = "{{ .Fg.Base }}",
  background = "{{ .Bg.Base }}",
  comment    = "{{ .Fg.Dim }}",
  accent     = { dark = "{{ .Accent.Base }}", light = "{{ .Accent.Dim }}" },
  black      = { dark = "{{ .Black.Base }}", light = "{{ .Black.Dim }}" },
  red        = { dark = "{{ .Red.Base }}", light = "{{ .Pink.Dim }}" },
  green      = { dark = "{{ .Green.Base }}", light = "{{ .Green.Base }}" },
  yellow     = { dark = "{{ .Yellow.Base }}", light = "{{ .Orange.Base }}" },
  blue       = { dark = "{{ .Blue.Base }}", light = "{{ .Blue.Dim }}" },
  magenta    = { dark = "{{ .Magenta.Base }}", light = "{{ .Magenta.Dim }}" },
  cyan       = { dark = "{{ .Cyan.Base }}", light = "{{ .Cyan.Dim }}" },
  white      = { dark = "{{ .White.Base }}", light = "{{ .White.Dim }}" },
}
