{
  "name": "system",
  "base": "{{ variant }}",
  "overrides": {
    "claude": "{{ .Accent.Base }}",
    "text": "{{ .Fg.Base }}",
    "memoryBackgroundColor": "{{ .Bg.Dim }}",
    "userMessageBackground": "{{ .Bg.Dim }}",
    "bashMessageBackgroundColor": "{{ .Bg.Dim }}",
    "inverseText": "{{ .Bg.Dim }}",
    "inactive": "{{ .Fg.Dimmer }}",
    "subtle": "{{ .Fg.Dimmer }}",
    "suggestion": "{{ .Cyan.Base }}",
    "permission": "{{ .Red.Base }}",
    "remember": "{{ .Green.Base }}",
    "success": "{{ .Green.Base }}",
    "error": "{{ .Red.Base }}",
    "warning": "{{ .Yellow.Base }}",
    "merged": "{{ .Blue.Base }}",
    "promptBorder": "{{ .Accent.Dim }}",
    "autoAccept": "{{ .Magenta.Base }}",
    "planMode": "{{ .Green.Base }}",
    "fastMode": "{{ .Yellow.Base }}",
    "planModeShimmer": "{{ .Green.Dim }}",
    "autoAcceptShimmer": "{{ .Magenta.Dim }}",
    "bashBorder": "{{ .Magenta.Dim }}",
    "ide": "{{ .Blue.Base }}",
    "diffAdded": "{{ .Green.Dim }}",
    "diffRemoved": "{{ .Red.Dim }}",
    "diffAddedDimmed": "{{ .Green.Dimmer }}",
    "diffRemovedDimmed": "{{ .Red.Dimmer }}",
    "diffAddedWord": "{{ .Green.Base }}",
    "diffRemovedWord": "{{ .Red.Base }}"
  }
}
