background {{ .Bg.Base }}
foreground {{ .Fg.Base }}
selection_background {{ .Sel.Base }}
selection_foreground {{ .Fg.Base }}
cursor_text_color {{ .Bg.Base }}
url_color {{ .Green.Base }}

cursor {{ .Accent.Base }}

# normal
color0 {{ .Black.Base }}
color1 {{ .Red.Base }}
color2 {{ .Green.Base }}
color3 {{ .Yellow.Base }}
color4 {{ .Blue.Base }}
color5 {{ .Magenta.Base }}
color6 {{ .Cyan.Base }}
color7 {{ .White.Base }}

# bright
color8 {{ .Black.Dim }}
color9 {{ .Red.Dim }}
color10 {{ .Green.Dim }}
color11 {{ .Yellow.Dim }}
color12 {{ .Blue.Dim }}
color13 {{ .Magenta.Dim }}
color14 {{ .Cyan.Dim }}
color15 {{ .White.Dim }}

# extended colors
color16 {{ .Bg.Base }}
color17 {{ .Fg.Base }}
color18 {{ .Sel.Base }}
color19 {{ .Fg.Dimmer }}

# gtgf
color42 {{ .Fg.Dim }}

# rustormy very bright yellow
color226 {{ .Yellow.Base }}
