Nsxiv.window.foreground: {{ .Accent.Base }}
Nsxiv.window.background: {{ .Bg.Base }}
Nsxiv.mark.foreground: {{ .Accent.Base }}

Nsxiv.bar.foreground: {{ .Fg.Base }}
Nsxiv.bar.background: {{ .Bg.Base }}
Nsxiv.bar.font: CaskaydiaCove Nerd Font 16
