* {
  bg: {{ .Bg.Base }};
  bg-alt: {{ .Sel.Base }};
  fg: {{ .Fg.Base }};
  bg-accent: {{ .Sel.Base }};
  red: {{ .Red.Base }};
  blue: {{ .Blue.Base }};
  green: {{ .Green.Base }};
  magenta: {{ .Magenta.Base }};
  accent: {{ .Accent.Base }};
}
