set statusbar-bg "{{ .Bg.Base }}"
set statusbar-fg "{{ .Fg.Base }}"
set completion-bg "{{ .Bg.Base }}"
set completion-fg "{{ .Fg.Base }}"
set completion-highlight-bg "{{ .Bg.Base }}"
set completion-highlight-fg "{{ .Accent.Base }}"
set inputbar-bg "{{ .Bg.Base }}"
set inputbar-fg "{{ .Fg.Base }}"
set default-bg "{{ .Bg.Dark }}"
set default-fg "{{ .Fg.Base }}"
set recolor-lightcolor "{{ .Bg.Base }}"
set recolor-darkcolor "{{ .Fg.Base }}"

# vim:ft=zathurarc
