snippet /fe?a?t?/ "Feature" r
Feature: $1
endsnippet

snippet /sc?e?/ "Scenario" r
Scenario: $1
endsnippet

snippet /gi?v?/ "Given" r
Given: $1
endsnippet

snippet /wh?/ "When" r
When: $1
endsnippet

snippet /th?/ "Then" r
Then: $1
endsnippet
