snippet d0 "function definition"
${1:name} : ${2:A}
$1 =
 $0
endsnippet

snippet d "function definition"
${1:name} : ${2:A} -> ${3:B}
$1 ${4:a} =
 $0
endsnippet

snippet d2 "function definition"
${1:name} : ${2:A} -> ${3:B} -> ${4:C}
$1 ${5:a} ${6:b} =
 $0
endsnippet
