snippet div "div"
<div>
	$1
</div>
endsnippet

snippet span "span"
<span>$1</span>
endsnippet

snippet # "comment"
<%# $1 %>
endsnippet

snippet unless "unless"
<% unless ${1:condition} %>
endsnippet
