snippet link "link-to"
{{#link-to '$1'}}$2{{/link-to}}
endsnippet

snippet if "if"
{{#if $1}}
{{/if}}
endsnippet

snippet else "else"
{{else}}
endsnippet

snippet each "each"
{{#each $1}}
$2
{{/each}}
endsnippet
