[Microsoft Outlook 2010]
row=4
col=1

[Prince of Persia 2008]
row=2
col=0

[Microsoft Excel 2010]
row=1
col=1

[Steam]
row=1
col=0

[Safari.lnk]
row=3
col=0

[TODO]
row=0
col=0

[Microsoft Powerpoint 2010]
row=2
col=1

[Shank2]
row=0
col=2

[League of Legends]
row=4
col=0

[Microsoft Word 2010]
row=0
col=1

[Microsoft OneNote 2010]
row=3
col=1

